#home-img {
	width: 50%;
	margin: auto;
	display: block;
	border: solid;
}

body{
    background-color: gray;
}

#nav-bar {
    background-color: black;
}

#nav-bar li {
	border: solid;
	padding: 10px;
    background-color: #d2d2d2;
}

#nav-bar ul {
	display: flex;
	margin: auto;
	width: max-content;
}

.box-element {
	border: solid;
    text-align: center;
    background-color: #d2d2d2;
    padding: 10px;
    margin: 10px auto 10px auto;
    width: 50%;
}

h1 {
    border: solid;
    text-align: center;
    background-color: #d2d2d2;
    padding: 10px;
    margin: 0px auto 10px auto;
}

.menu-title{
    text-decoration: underline;
}

.menu-item {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
